*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.contenedor{
  display:flex ;
  flex-direction: row;
  background-color: aquamarine;
}
.card{
  background-color: aquamarine;
}
.total{
  background-color: antiquewhite;
}